body {
    background-color: #fce4ec; /* Пастельный розовый */
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.snake-container img {
    max-width: 200px;
    margin-bottom: 20px;
}

h1 {
    color: #e91e63; /* Ярко-розовый */
    margin-bottom: 20px;
}

p {
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
}
